.center {
  width: 100%;
  min-height: 90vh;
  line-height: 90vh;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #333;
}
.error-message {
  margin: 5px 0px;
  color: red;
  font-size: 16px;
  text-transform: capitalize;
}
